<div class id="<%= dom_id content %>">
  <p>
    <strong style="color: #E76F51">Titolo:</strong>
    <%= content.titolo %>
  </p>

  <p>
    <strong style="color: #F4A261">Descrizione:</strong>
    <%= content.descrizione %>
  </p>

  <p>
    <strong style="color: #E9C46A">Price:</strong>
    <%= content.price %>
  </p>

</div>
