<div class="text-center" style="color : #2A9D8F">
<h1>Modifica contenuto</h1>

<%= render "form", content: @content %>

<br>

<div>
  <%= link_to "Show this content", @content %> |
  <%= link_to "Back to contents", contents_path %>
</div>
</div>
