<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>PAGINA DI ABOUT</title>
  </head>
  <body>

    <h1 class="text-center" style="color:#2A9D8F">ABOUT US...</h1>

    <h6 class="text-center" style ="color: #F4A261">
      Siamo un team di programmatori dinamico e giovane,con molte idee innovative<br>
      a servizio dei nostri clienti.
      I nostri corsi online sono variegati ed intuitivi,semplici per chi non ha <br>
      mai avuto nessun approccio con il mondo della programmazione web,ma comunque<br>
      utili per chi ha già una base di partenza. Scegli uno dei nostri servizi ed <br>
      inizia subito a cambiare il mondo di domani!
    </h6>
    <br>
    <br>
    <br>


    <!--FIGURES-->
    <div class="text-center">
    <figure class="figure">
  <img src="https://miro.medium.com/max/640/1*n95GashLJARszFNtTK3izQ.jpeg" class="figure-img img-fluid rounded" alt="...">
  
</figure>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>