
<h1 class="text-center" style="color:#2A9D8F">Benvenuti in Tholos Developer school</h1>
<p class="text-center" style="color:#E9C46A">Impara a comprendere oggi i linguaggi della programmazione per migliorare il mondo di domani!</p>


<!--LISTA-->
<div class="text-center">
<div class = "container" class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>

  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
 
</div>
</div>