<div class="text-center">
<h1 style="color: #2A9D8F;">Scegli il corso che fa per te!</h1>
<br>
<br>
<div class="card-group">
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/256px-JavaScript-logo.png" class="card-img-top" alt="...">
    <div class="card-body">


      <h5 class="card-title">Javascript</h5>
      <p class="card-text">Impara il linguaggio Javascript,uno dei più utilizzati al mondo!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div  class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/128px-CSS3_logo.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CSS</h5>
      <p class="card-text">Con il linguaggio CSS puoi divertirti con la parte Font end di un sito web</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/128px-HTML5_logo_and_wordmark.svg.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HTML</h5>
      <p class="card-text">Scopri le basi del linguaggio Hyper Text Markup Language</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>